/*============ Layout ==========*/
body{
  background-color: #9c9f84;
  margin: 0px;
  font-family: verdana, georgia, serif;
  font-size: 16px;
}

/* ============ containers =================*/
#header{
  background-color: #5c755e;
  margin: 10px;
  height: 90px;
  border-radius: 10px;
}

#navbar{
  background-color: #000;
  margin: 10px;
  height: 35px;
  border-radius: 10px;
  text-align: center;
}
#footer{
  background-color: #5c755e;
  margin: 10px;
  height: 60px;
  border-radius: 10px;
  clear: both;
  color: #efe5d0;
  text-align: center;
  padding: 15px;
  font-size: 90%;
}

.container{
  width: 1200px;
  margin: 0 auto;
  border: 1px solid green;
  height: 350px;
  padding-left: 20px;
}
.main{
  background-color: #e5e4d7;
  margin-top: 10px;
  margin-right: 280px;
  margin-bottom: 10px;
  margin-left: 220px;
  borde
  border: 1px solid green;
  height: 1200px;r-radius: 10px;
  padding: 20px;
  font-size: 110%;
}
.rightside{
  background-color: #e5e4d7;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 10px;
  padding: 20px;
  font-size: 105%;
  float: right;
  width: 220px;
  clear: right;
}
.liftside{
  background-color: #e5e4d7;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 10px;
  padding: 20px;
  font-size: 105%;
  float: left;
  width: 160px;
  clear: left;
}
/*============ element selector =========*/
h1{
  font-size: 120%;
  color: #ce282e;
}
h2{
  font-size: 110%;
  color: darkblue;
  text-decoration: underline;
}

h3{
  font-size: 250%;
  text-align: center;
  font-family: 'Century Gothic';
  color: #e5e4d7;
  line-height: 88px;
  margin-top: 0px;
}

/*=================Header buttons====================*/
#navbar ul{
  list-style-type: none;
  padding: 5px;
  margin: 10px;
  text-align: center;
  border-radius: 5px;

}
#navbar ul li{
  display: inline;
}

#navbar ul li a {
  text-decoration: none;
  font-family: arial;
  padding: .2em 1em;
  color: #fff;
  background-color: #000;
  line-height: 35px;
}
#navbar a:hover {
  color: #000;
  background-color: #fff;
}
/*===============heading images =========== */
#header img{
  position: absolute;
  top: 10px;
  left: 10px;
  height: 90px;
  width: 250px;
  border-radius: 5px;
}
/*================= footer buttons====================*/
#footer ul {
  list-style-type: none;
  padding: 5px;
  margin: 10px;
  text-align: center;
  border-radius: 5px;
}
#footer ul li{
  display: inline;
}

#footer ul li a {
  text-decoration: none;
  font-family: arial;
  padding: .2em 1em;
  color: #fff;
  background-color: #000;
  line-height: 35px;
}
#footer a:hover {
  color: #000;
  background-color: #fff;
}
